.landingMain {
    height: 75vh;
    padding: 10vh;
}

.registerBtn {
    width: 140px;
    border-radius: 3px;
    letter-spacing: 1.5px
}
.lightBtn {
    background-color: #add8ff !important;
    color: #004480 !important;
    width: 140px;
    border-radius: 3px;
    letter-spacing: 1.5px;
}

.logoutBtn {
    width: 150px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    margin-top: 1rem
}

.classList, .sectionSelection {
    height: 75vh;
    overflow: auto;
}

.searchBar {
    width: 20% !important;
    margin-left: 20px !important;
    margin-top: 15px !important;
}
/*
.sectionTitle {
    float: right;
    padding-right: 45%;
    margin-bottom: 20px;
}*/

::placeholder {
    color: grey;
}

.blurb {
    color: grey;
    font-size: 1.4rem !important;
}

#left {
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
}

.course {
    font-size: 12pt;
    text-align: center;
    color: #d0f1ff;
    background: #127fa5;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.fa-trash {
    display: none;
}

.course:hover {
    background: #550000;
    color: white;
}

.course:hover .fa-trash{
    display: inline-block;
}