#left {
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
  /*
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    overflow-y: scroll; 
    */
}
/*
#middle {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 15%;
    width: 15%;
    overflow-y: scroll; 
}

#right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 70%;
}
*/

.course {
    font-size: 15pt;
    color: #EEE;
    background: #500000;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.fa-trash {
    display: none;
}

.course:hover {
    background: #c70000;
}

.course:hover .fa-trash{
    display: inline-block;
}